{%extends 'base.html'%} 
{% block content %}
	<div class="container-fluid">


  <div class="row">

  {% if search_results %}
    {% for image in search_results %}

      <div class="col-md-3 col-sm-4 col-xs-12 single_portfolio_text">
          <img src="{{image.image_path.url}}" alt="" />
          <div class="portfolio_images_overlay text-center">
              <h6 class="clrd-font">{{image.image_name}}</h6>
              <a class="fancybox btn btn-primary" rel="ligthbox" href="{{image.image_path.url}}">

                      View Details</a>
          </div>
          
  </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}